<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>MinimumOSVersion</key>
	<string>9</string>
	<key>CFBundleDisplayName</key>
	<string>SADM</string>
	<key>CFBundleIdentifier</key>
	<string>com.totaltech.sadm</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Can we use your location when your app is being used?</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Can we use your location at all times?</string>
	<key>NSCameraUsageDescription</key>
	<string>Esta aplicación necesita acceso a la cámara para tomar fotos.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Esta aplicación necesita acceso a las fotos.</string>
	<key>CFBundleName</key>
	<string>SADM</string>
	<key>XSLaunchImageAssets</key>
	<string>Assets.xcassets/LaunchImage.launchimage</string>
	<key>UIMainStoryboardFile</key>
	<string>LaunchScreen</string>
	<key>XSAppIconAssets</key>
	<string>Assets.xcassets/AppIcon.appiconset</string>
	<key>CFBundleShortVersionString</key>
	<string>2</string>
	<key>NSCalendarsUsageDescription</key>
	<string>$(PRODUCT_NAME) user your calendar.</string>
	<key>CFBundleVersion</key>
	<string>3.1</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Need permission to save files.</string>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>spartane.com</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSTemporaryExceptionMinimumTLSVersion</key>
				<string>TLSv1.1</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
